<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>info.poyo.splitter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0074CF3D-B176-45A2-8E25-0719AA05F8F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AF56B1E-DFFF-434A-BCBF-23A2331DF1F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A99A587-A8B8-4B97-9473-A62141B6D316</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65631F5B-5DE1-4C66-B040-05B9D0EC95CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65631F5B-5DE1-4C66-B040-05B9D0EC95CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84FD7907-BEF4-440B-989D-327CD1ACAD68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84FD7907-BEF4-440B-989D-327CD1ACAD68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0074CF3D-B176-45A2-8E25-0719AA05F8F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A201C1D2-7A2A-4055-AE24-9214C5FAC8FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95D55339-02C7-451D-9FBE-3FBE2A419EB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84FD7907-BEF4-440B-989D-327CD1ACAD68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A201C1D2-7A2A-4055-AE24-9214C5FAC8FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA616281-C329-4193-B0AF-19058CF7BBB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8B59D7F-6F8D-4B81-9343-8DBC184295FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95D55339-02C7-451D-9FBE-3FBE2A419EB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pudding</string>
	<key>description</key>
	<string>Remove all new line and then split sentence by period.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>sentence-splitter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./go-alfred-sentence-splitter split "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95D55339-02C7-451D-9FBE-3FBE2A419EB9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://translate.google.com/?text=√#en/ja/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1AF56B1E-DFFF-434A-BCBF-23A2331DF1F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B8B59D7F-6F8D-4B81-9343-8DBC184295FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>NSaYw3'D2o,W1eL_|ac\</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0074CF3D-B176-45A2-8E25-0719AA05F8F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5FD6986E-6CBB-4826-8B32-7E603030E82C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>84FD7907-BEF4-440B-989D-327CD1ACAD68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1A99A587-A8B8-4B97-9473-A62141B6D316</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./go-alfred-sentence-splitter reshape "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>65631F5B-5DE1-4C66-B040-05B9D0EC95CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your input is empty.</string>
				<key>title</key>
				<string>Sentence Splitter</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FA616281-C329-4193-B0AF-19058CF7BBB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>NSaYw3'D2o,W1eL_|ac\</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A201C1D2-7A2A-4055-AE24-9214C5FAC8FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Split sentence by period. Then remove all `\n` and hyphenation at the end of sentence, two or more consecutive whitespace. After that, open google translate automatically.</string>
	<key>uidata</key>
	<dict>
		<key>0074CF3D-B176-45A2-8E25-0719AA05F8F7</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>1A99A587-A8B8-4B97-9473-A62141B6D316</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>1AF56B1E-DFFF-434A-BCBF-23A2331DF1F1</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>5FD6986E-6CBB-4826-8B32-7E603030E82C</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>65631F5B-5DE1-4C66-B040-05B9D0EC95CF</key>
		<dict>
			<key>note</key>
			<string>Remove referense number.
Remove hyphen at new line.</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>84FD7907-BEF4-440B-989D-327CD1ACAD68</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>95D55339-02C7-451D-9FBE-3FBE2A419EB9</key>
		<dict>
			<key>note</key>
			<string>Remove reference number.
Remove hyphen at new line.
Split sentence.</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>A201C1D2-7A2A-4055-AE24-9214C5FAC8FE</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>B8B59D7F-6F8D-4B81-9343-8DBC184295FB</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>FA616281-C329-4193-B0AF-19058CF7BBB3</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://www.poyo.info/</string>
</dict>
</plist>
